span {
  margin: 30px;
}

#google {
  background-color: #DB4337;
  color: #ffffff;
  display: flex;
  width: 225px;
}

#facebook {
  background-color: #385899;
  color: #ffffff;
  display: flex;
  width: 225px;
}

mat-card {
  text-align: -webkit-center;
  margin: 20px;
  width: 300px;
  height: 400px;
}

button {
  margin: 20px;
  color: #ffffff !important;
}

#sign-up-content {
  margin: 110px 0 !important;
}

#sign-in-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// #sign-in-content {
//   display: flex;
//   flex-direction: column;
// }