span {
  margin: 30px;
}

#google {
  background-color: #DB4337;
  color: #ffffff;
  display: flex;
  width: 225px;
}

#facebook {
  background-color: #385899;
  color: #ffffff;
  display: flex;
  width: 225px;
}

mat-card {
  text-align: -webkit-center;
  margin: 20px;
  max-width: 300px;
}

button {
  margin: 20px
}

mat-card-content {
  margin: 110px 0 !important;
}
