<mat-card>
  <mat-card-title>User Stats</mat-card-title>
  <mat-card-content>
    
    <mat-list>
      <mat-card-subtitle>User Information</mat-card-subtitle>
      <mat-list-item>Display Name: </mat-list-item>
      <mat-list-item>Provider Id: </mat-list-item>
      <mat-list-item>Email: </mat-list-item>
      <mat-list-item>Phone Number: </mat-list-item>
    </mat-list>
    
    <mat-list>
      <mat-card-subtitle>Game Stats</mat-card-subtitle>
      <mat-list-item>Number of Games Played: </mat-list-item>
      <mat-list-item>Number of Games Won: </mat-list-item>
      <mat-list-item>Number of Games Lost: </mat-list-item>
      <mat-list-item>Number of Questions Answered: </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-progress-spinner value="20"></mat-progress-spinner>