<h1 matDialogTitle>Choose Who's Playing</h1>

<div matDialogContent>
    <mat-card class="mat">
        <img mat-card-avatar src="https://static.techspot.com/images2/news/bigimage/2019/05/2019-05-03-image.jpg">
        <mat-card-title>Sonic</mat-card-title>
    </mat-card>
    <mat-card>
        <img mat-card-avatar
            src="https://i.dailymail.co.uk/i/pix/2013/03/11/article-2291620-189071B4000005DC-520_306x390.jpg">
        <mat-card-title>Tails</mat-card-title>
    </mat-card>
    <mat-card>
        <img mat-card-avatar
            src="https://vignette.wikia.nocookie.net/meme/images/e/e5/Stoopid_Meme.png/revision/latest?cb=20180814025755">
        <mat-card-title>Knuckles</mat-card-title>
    </mat-card>
</div>