div {
    display: flex;
}

mat-card {
    width: 100%;
    background-color: #35b0ab;
    margin: 20px;
    text-align: center;
}

.mat-card-avatar {
    height: 80px;
    width: 80px;
    margin: 20px;
}