mat-card-header, mat-card-actions {
	display: flex;
	flex-direction: column;
	text-align: center;
}
mat-card, mat-card-actions {
	background-color: #888;
}

.game-title-card {
	background-color: #fff;
	color: #333;
	margin-bottom: 50px;
}

.incorrect {
	background-color: #ee5555
}
.correct {
	background-color: #55bb55
}
button, button:disabled {
	background-color: #fff !important;
	color: #333 !important;
	margin: 3px !important;
}